body {
    margin: 0 auto;
    background-image: url("585f9379cb11b227491c3583.png");
    background-position: 0px 350px;
    background-attachment: fixed;
    background-repeat: repeat-x;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.h1 {
    padding: 40px 40px 0px 40px;
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    letter-spacing: 2px;
    animation: colorchange 30s infinite alternate;
    letter-spacing: 4px;
    animation: colorchange 20s infinite alternate;
}

@keyframes colorchange
{
 0%   {color: #fc4749;}
 25%  {color: #fdcd46;}
 50%  {color: #5bd459;}
 75%  {color: #1277ff;}
 100% {color: #c356fb;}
}

h2 {
    padding: 0px 10px 10px 10px; 
    font-size: 14px;
}

.wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 100px;
}

.game {
    padding-bottom: 60px;
}

#dashes {
    padding: 30px 0px 30px 0px;
}

#lives {
    padding: 30px 0px 30px 0px;
    font-size: 12px;
}

span {
    color: #fc4749;
}

#letter {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
}

#answer {
    margin: 10px 0;
    font-size: 50px;
}
input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}